@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
  background-color: #efefef;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Typography Utilities */
.font-roboto {
  font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.font-manrope {
  font-family: var(--font-manrope), -apple-system, Roboto, Helvetica, sans-serif;
}

/* Colors */
.text-black {
  color: black;
}

/*
.logo-spacer {
  width: 295px;  Adjust to match logo height overlap
  height: 0; 
}
*/

/* Drop Shadow Around Clipped Container */
.logo-shadow-wrapper {
  /* position: relative; */
  z-index: 30;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  pointer-events: none; 
}

/*
.logo-container-wrapper {
  z-index: 20;
}
*/

/* Logo Container - Responsive */
.logo-container {
  width: 295px;
  height: 158px;
  z-index: 20; 
  padding-right: 40px;
  position: relative;
  background: #F1F1F3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none; 
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.eleksyon-logo {
  /* position: relative; */
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.namfrel-logo {
  width: 85%;
  max-height: 120px;
  margin-right: 10px;
}

.apc-logo {
  width: 70%;
  max-height: 120px;
}

@media (max-width: 768px) {
  .logo-container-wrapper {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    clip-path: none;
    background: white;
  }

  .logo-container {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    background: #f1f1f3;
  }

  .eleksyon-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .header-container {
    margin-left: 0;
  }

}

/* Main Header - Responsive */
.main-header {
  width: 100%;
  background-color: #1e0775;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem; /* Adjusted height */
  z-index: 30;
  position: relative;
  padding-left: 150px;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }
}

/* Sub Header - Responsive */
.sub-header {
  width: 100%;
  height: 5rem;
  background-color: #dc160c;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  z-index: 23;
  position: relative;
}

@media (max-width: 768px) {
  .sub-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}