@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
  background-color: #efefef;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* footer fonts */
.font-roboto {
  font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.font-manrope {
  font-family: var(--font-manrope), -apple-system, Roboto, Helvetica, sans-serif;
}

.text-black {
  color: black;
}

.logo-container {
  width: 295px;
  height: 158px;
  background: #FFFFFF;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 30;
  position: relative;
  margin-bottom: -85px;
}

.eleksyon-logo {
  position: relative;
  width: 85%;
  height: auto;
  object-fit: contain;
  right: 15px;
}

.header-container {
  margin-top: 31px;
  position: relative;
  z-index: 10;
}

.main-header {
  width: 100%; 
  height: 80px; 
  background-color: #00509d; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
}

.sub-header {
  width: 100%; 
  height: 63px; 
  background-color: #b00505; 
  display: flex;
  justify-content: center;
  align-items: center;
}
